/dina-user-management/target/ 
/mysql-datadir
/dina-keycloak-management/target/
nohup.out
execute.sh
wildfly-swarm.jar
/wildfly-swarm.jar
api
dina-user-management/Dockerfile
dina-user-management/docker-compose.yaml
dina-user-management/docker/
/dina-user-management/nbproject/