<h1>Edit user</h1>
 
{{#user-account-form account=model title='edit_user'}} 
	<button class="btn btn-md btn-primary" disabled={{v-get model 'isInvalid'}}
        {{action 'updateUser' model}}>
            Update
    </button>
{{/user-account-form}}   
