<div class="row">  
  {{#each model as |user|}}
    {{#user-account account=user}}
      {{#link-to 'users.view' user class='btn btn-success btn-sm' disabled=user.is_super_admin }}
        {{t 'buttons.labels.view'}}   
      {{/link-to}}
    {{/user-account}}
  {{/each}} 
</div> 
 
